FIREBASE_DB_URL=https://auto-tagging-2ceba-default-rtdb.asia-southeast1.firebasedatabase.app
FIREBASE_CREDENTIALS=
SECRET_KEY=supersecretkey_please_change_me_in_production
JWT_EXPIRE_DAYS=7
HF_TOKEN=
